h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(99, 3, 3);
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(99, 3, 3);

    background-color: blanchedalmond;
    
}
p{
   text-align: center;
   
}
